@import url('fonts.css');

body {
	font-family: "Roboto Regular", "MyriadPro Regular", "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.note {
	color: #ff0000;
}

.navbar-inverse {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

#main-wrapper .panel {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-top-width: 5px;
}

#main-wrapper .panel .panel-heading {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border: none;
}

#main-wrapper .panel .list-group .list-group-item {
	cursor: pointer;
	color: #666;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

#main-wrapper .panel .list-group .list-group-item:hover {
	background-color: #F4F4F4;
}

#main-wrapper .panel-danger .list-group .active {
	background-color: #934F4F;
	color: #fff;
	border: none;
}

#main-wrapper .panel-danger .list-group .active:hover {
	background-color: #934F4F;
}

#main-wrapper .panel-info .list-group .active {
	background-color: #59C1E7;
	color: #fff;
	border: none;
}

#main-wrapper .panel-info .list-group .active:hover {
	background-color: #59C1E7;
}

#main-wrapper .panel .list-group .list-group-item a {
	color: inherit;
	text-decoration: none;
	display: block-inline;
	padding-left: 10px;
}

#page-manager-page .table tr td a {
	color: inherit;
	text-decoration: none;
}

#announcement-manager-page .table tr td a {
	color: inherit;
	text-decoration: none;
}
