RewriteEngine on

RewriteCond %{HTTP_HOST} ^cuakinhsg.dev$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.cuakinhsg.dev$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php