@import url('fonts.css');

/*
 * RESTYLE 
 */

/* NAVBAR */

.navbar-default {
	background-color: #3f3f3f !important;
	border: none !important;
	border-radius: 0 !important;
	font-family: 'Roboto Bold' !important;
	text-transform: uppercase !important;
}

	.navbar-default .navbar-brand {
		font-size: 1.5em !important;
		background-color: #834139 !important;
		padding: 10px 20px !important;
		margin: 0 !important;
		text-align: center !important;
		line-height: 30px !important;
		color: #572B2B !important;
	}

	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #572B2B !important;
		background-color: #834139 !important;
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		color: #fff !important;
		background-color: #595959 !important;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff !important;
	}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
		color: #A5A5A5 !important;
	}
	
/* BREADCRUMB */
	
.breadcrumb {
	border-radius: 0 !important;
	border-bottom: 1px solid #E26B6B !important;
}

/* HEADING */

h1, h2, h3, h4, h5, h6 {
	font-family: "MyriadPro Condensed", "Roboto Regular", "MyriadPro Regular", "Helvetica Neue",Helvetica,Arial,sans-serif !important;	
}

/*
 *
 *  GENERAL
 *
 */
 
 body {
	font-family: "Roboto Regular", "MyriadPro Regular", "Helvetica Neue",Helvetica,Arial,sans-serif !important;	
}

.top-button {
	width: 68px;
	height: 68px;
	background: transparent url('../img/up.png') center center no-repeat;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	cursor: pointer;
	display: none;
}

.top-button:hover {
	background-image: url('../img/up_hover.png');	
}

.breadcrumb li {
	text-transform: uppercase !important;
}

.normal-announcement {
		text-transform: uppercase !important;
		font-size: 1.1em !important;
		font-family: 'MyriadPro Semibold' !important;
		border: none !important;
		border-bottom: 2px solid !important;
		border-radius: 0 !important;
	}

		.normal-announcement p span {
			color: #ff0000 !important;
		}
		
.important-announcement {
		text-transform: uppercase !important;
		font-size: 1.1em !important;
		font-family: 'MyriadPro Semibold' !important;
		border: none !important;
		border-bottom: 2px solid !important;
		border-radius: 0 !important;
	}

		.important-announcement p span {
			color: #0DA5D7 !important;
		}
		
#main-wrapper {
	margin-top: 30px;
}
 
.thumbnail {
	border: none !important;
	text-align: center !important;
}

	.thumbnail .thumbnail-inner {
		padding: 5px;			
	}

		.thumbnail .thumbnail-image {
			box-shadow: 3px 3px #dedede;
			margin: 0 auto;
		}

		.thumbnail .thumbnail-caption {
			margin: 5px auto;
			font-style: italic;
			font-size: 0.9em;
		}

.corp-map {	
	margin-top: 50px;
	padding-top: 15px;
	background-color: #DB604A;
	border-top: 20px solid #9D3A28;
	box-shadow: inset 0 1px 0px #EF5E44;
}

	.corp-map .corp-map-title {
		text-transform: uppercase;
		text-align: center;
		font-size: 3em;
		color: #fff;
		font-family: 'Roboto Thin';
	}

	.corp-map .corp-map-inner {
		height: 450px;
		background-color: #fff;
	}

#footer {	
	overflow: hidden;	
}

	#footer .footer-header {		
		padding: 20px 15px;
		min-height: 300px;
	}

		#footer .col-title {
			text-transform: uppercase;
			color: #666;
		}

		#footer .col-summary {
			margin-top: 5px;
			font-size: 1.1em;
		}

		#footer .col-content {
			margin-top: 8px;
			padding: 5px 0;
			font-size: 1.1em;
		}
		
		#footer .col-intro .col-title {
			border-bottom: 1px solid #E5E5E5;
		}
		
		#footer .col-sub {
			box-shadow: 0px -4px 10px -2px #ccc;
		}
		
		#footer .col-sub-xs {
			box-shadow: none;
		}
		
		#footer .col-sub .col-title {
			border-bottom: 1px solid #E5E5E5;
		}

	#footer .footer-text {
		font-size: 1em;
		text-align: center;
		background-color: #efefef;			
		color: #666;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
		#footer .footer-text p {
			margin-top: 0;
			margin-bottom: 0;
		}

/*
 *
 *  HOME PAGE
 *
 */
 	
	#home-page .panel-happy {
		font-size: 2.2em;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		background-color: rgb(20, 110, 165);
		font-family: 'MyriadPro Regular';
		border: none;
		border-radius: 0;
		border-bottom: 4px solid #4491DB;
	}
	
	#home-page .panel-happy:hover {
		background-color: rgb(21, 102, 152);
		cursor: pointer;
	}
	
		#home-page .panel-happy span {
			display: block;
			margin-bottom: 5px;
			font-size: 1.5em;
		}
	
	#home-page .panel-hotline {
		font-size: 2.2em;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		background-color: rgb(165, 70, 70);
		font-family: 'MyriadPro Semibold';
		border: none;
		border-radius: 0;
		border-bottom: 4px solid #842727;
	}
	
	#home-page .panel-hotline:hover {
		background-color: rgb(152, 61, 61);
		cursor: pointer;
	}
	
		#home-page .panel-hotline span {
			display: block;
			margin-bottom: 5px;
			font-size: 1.5em;
		}
	
	#home-page .panel-quality {
		font-size: 2.2em;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		background-color: rgb(58, 181, 69);
		font-family: 'MyriadPro Regular';
		border: none;
		border-radius: 0;
		border-bottom: 4px solid #248E06;
	}
	
	#home-page .panel-quality:hover {
		background-color: rgb(51, 166, 61);
		cursor: pointer;
	}
	
		#home-page .panel-quality span {
			display: block;
			margin-bottom: 5px;
			font-size: 1.5em;
		}

/*
 *
 *  PRODUCT PAGE
 *
 */
 
#product-page .panel-success {
	border-radius: 0;
 }
 
#product-page .panel .panel-heading {
	font-weight: bold;
	text-align: center;
 }